	@charset "utf-8";
	*				{padding:0; margin:0; box-sizing:border-box; }
	html, body		{font:10pt "나눔고딕"; color:#666; }
	a				{display:block/*손가락영역을 확대*/; color:#666; text-decoration:none; }
	
	#layout			{width:1000px; height:1200px; margin:auto; border:2px solid red;}
	
	
	/* 상단영역 */
	header				{display:flex; align-items:center; height:200px; border:2px dashed gold; }
	header ul			{list-style:none; line-height:30px /*세로줄간격*/; padding:20px 0 /*주메뉴와 구별하기 위해*/; position:relative; z-index:1; display:none; }
	header>a			{flex:1;}
	header>nav			{flex:2.7; height:40px; display:flex;}
	header>nav>a		{flex:1; text-align:center; font-size:1.2rem; font-weight:bold;  padding:10px 0; }
	header>nav>div		{flex:1; text-align:center; }
	header>nav>div>a	{font-size:1.2rem; font-weight:bold; padding:10px 0; }
	
	header>nav>a:hover			{color:white; background:#009688; }
	header>nav>div>a:hover		{color:white; background:#009688; }
	
	/* header>nav>div:hover>ul		{display:block;} */
	header>nav>div>ul>li>a:hover	{background:#3dd0c1; color:white;}
	
	
	/*이미지슬라이드영역*/
	#sliding		{height:350px; background:skyblue; }
	
	/* 컨텐츠영역 */
	main			{display:flex; height:500px; border:2px solid skyblue; }
	main>section	{flex:1; border:1px dotted red; }
	/* 하단영역 */
	footer			{height:150px; border:2px dashed gray;}